PORT=5000
DBHOST=<RDS Endpoint>
DBUSER=admin
DBPASS=<database password>
DBNAME=path4you
FRONTEND_URL=https://your-domain.com  //change it with ur frontend ALB DNS
JWT_SECRET=<jwt secret>
JWT_EXPIRES=7d
