DBHOST=localhost
DBUSER=admin
DBPASS=dbpassword
DBNAME=path_for_you
DBPORT=3306
JWT_SECRET=path_for_you
JWT_EXPIRES=7d
PORT=5000
FRONTEND_URL=http://localhost:5173 #change it with frontend alb dns url when deployed